.container{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
  font-size: large;

  .tech-tag {
    color: #ffd700;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

}